@media (max-width: 360px) {
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background-color: rgb(250, 237, 237);
    }
    
    .header {
        /* background-color: #101012bd; */
        color:black;
        text-align: center;
        font-weight: bolder;
    }

    .upper-images {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2px;
    }

    .upper-images h1 {
        font-size: 2vh;
        margin: 1%;
        font-size: larger;
    }

    .upper-images img {
        max-width: 80px;
        height: auto;
    }

    .additional-photo {
        background-image: url('topviewtrees.jpg');
        border-top: 2px solid grey;
        vertical-align: middle;
        text-align: end;
        padding: 20px;
    }

    .additional-photo img {
        background-color: black;
        max-width: 30vw;
        border: 1px solid rgb(0, 0, 0);
        height: auto;
    }

    .additional-info p {
        text-align: center;
        font-weight: bolder;
        font-size: 3vw;
        color: black;
        background-color: white;
        display: inline-block;
        border: 2px solid black;
        padding: 5px;
    }

    .content {
        padding: 20px;
        background-image: url('toptree.jpg');
        margin-top: 2px;
        font-size: larger;

    }

    .content h2 {
        color: #333;
    }

    footer {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 10px 0;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .heading {
        /* background-color: rgb(178, 250, 21); */
        /* border: 2px solid black; */
        text-align: center;
        /* display: inline-block; */
        padding: 1vh;
        font-size: 10vw;
        /* margin-left: 14.5vw; */
        color: rgb(0, 0, 0);
        /* margin-left: 5vw; */
        /* border-radius: 20px; */
        /* Center horizontally */
    }

    .heading-content {
        padding: 20px;
        border-radius: 20px;
        background-color:  rgb(250, 237, 237);
        margin-top: 20px;
        font-size: larger;
        text-align: left;


    }

    .heading-content li {
        color: rgb(0, 0, 0);
        padding: 5px 0px 0px 0px;
    }

    .whatsapp {
        background-color: rgb(250, 237, 237);
        margin-bottom: 20vw;
        border: 2px solid;
        color: rgb(255, 255, 255);
    }

    .whatsapp h1 {

        border-radius: 20px 0px;
        color: rgb(0, 0, 0);
        background-color: lightgreen;
        margin: 5%;
        text-align: center;
        padding: 20px 5px;
        font-size: 7vw;
    }

    .whatsapp li {
        background-color: yellowgreen;
        border-radius: 20px 0px;
        margin: 5%;
        font-size: 5vw;
        font-size: larger;
        padding: 2vh;
    }

    button {
        padding: 20px 0px;
        align-items: center;
        align-content: center;
        display: flex;
        font-size: 6vw;
        font-weight: bolder;
        background-color: lightgreen;
        margin: 0px 20%;
    }
    .additional-photo {
        position: relative;
        overflow: hidden;
    }

    .opposite-lines {
        margin: 5vh;
        font-size: 3vh;
        color: #fff;
        position: absolute;
        text-align: left;
        /* padding: -50px; */
        top: 0;
        bottom: 0;
        /* word-wrap: break-word; */
        left: 0;
        width: 30%;
        /* background-color: black; */
        /* word-wrap:normal; */
        /* Prevent line wrapping */
    }

}






@media (min-width: 361px) {
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background-color: rgb(248, 234, 234);
    }

    .header {
        /* background-color: #101012bd; */
        color: black;
        text-align: center;
        /* padding: 20px; */
    }

    .upper-images {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* Align items vertically */
        padding: 2px;
    }

    .upper-images h1 {
        font-size: 5vw;
        margin: 1%;
        /* font-size: larger; */
    }

    .upper-images img {
        max-width: 80px;
        height: auto;
    }

    .additional-photo {
        background-image: url('topviewtrees.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        /* margin: 1vw; */
        border-top: 2px solid grey;
        /* display: inline-block; */
        /* Display as inline block */
        vertical-align: middle;

        /* Align vertically middle */
        text-align: end;
        padding: 20px;
    }

    .additional-photo img {
        background-color: black;
        max-width: 200px;
        /* align-items:; */
        border: 1px solid rgb(0, 0, 0);
        height: auto;
    }

    .additional-info p {
        background-color: black;
        color: aliceblue;
        display: inline-block;
        border: 2px solid black;
        padding: 5px;
    }

    /* .content-wrapper {
    display: flex;
    /* Use flexbox for layout */
    /* justify-content: space-between; */
    /* Space between content and additional photo */
    /* align-items: center; */
    /* Align items vertically */
    /* }  */

    .content {
        padding: 20px;
        /* border: 2px solid black; */
        background-image: url('toptree.jpg');
        margin-top: 2px;
        font-size: larger;

        /* border-radius: 20px; */
    }

    .content h2 {
        color: #333;
    }

    footer {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 10px 0;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .heading {
        /* background-color: rgb(178, 250, 21); */
        /* border: 2px solid black; */
        text-align: center;
        /* display: inline-block; */
        padding: 1vh;
        font-size: 5vw;
        /* margin-left: 14.5vw; */
        color: rgb(0, 0, 0);
        /* margin-left: 5vw; */
        /* border-radius: 20px; */
        /* Center horizontally */
    }

    .heading-content {
        padding: 20px;
        border-radius: 20px;
        background-color: rgb(248, 220, 220);
        margin-top: 20px;
        font-size: larger;
        text-align: left;


    }

    .heading-content li {
        color: rgb(0, 0, 0);
        padding: 5px 0px 0px 0px;
    }

    .whatsapp {
        background-color: rgb(255, 255, 255);
        /* margin: 2%; */
        /* padding-bottom: 100vmin; */
        margin-bottom: 20vw;
        /* border: 2px solid; */
        color: rgb(255, 255, 255);
    }

    .whatsapp h1 {
        /* border-radius: 20px 0px; */
        color: rgb(0, 0, 0);
        background-color: lightgreen;
        margin: 1%;
        text-align: center;
        padding: 20px 0px;
        /* padding-left: 10px; */
        /* font-size: vw; */
    }

    .whatsapp li {
        background-color: yellowgreen;
        border-radius: 20px 0px;
        margin: 5%;
        font-size: 5vw;
        font-size: larger;
        padding: 2vh;
    }

    button {
        padding: 20px 0px;
        align-items: center;
        align-content: center;
        display: flex;
        /* font-size: 6vw; */
        font-weight: bolder;
        background-color: lightgreen;
        margin: 0px 40%;
    }

    .additional-photo {
        position: relative;
        overflow: hidden;
    }

    .opposite-lines {
        margin: 8vh;
        font-size: 6vh;
        color: #fff;
        position: absolute;
        text-align: left;
        /* padding: -50px; */
        top: 0;
        bottom: 0;
        /* word-wrap: break-word; */
        left: 0;
        width: 30%;
        /* background-color: black; */
        /* word-wrap:normal; */
        /* Prevent line wrapping */
    }
}